<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.trujobs.dev.trudroid"
    android:versionCode="1"
    android:versionName="v1.0.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- EXTERNAL_STORAGE permissions are optional for Android 6.0 onwards. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:name=".Trudroid"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Google MAP API key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_android_api_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_api_key" />

        <activity
            android:name=".WelcomeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtpScreen"
            android:label="Enter OTP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnterPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassword"
            android:label="Reset Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JobPreference"
            android:label="Job Roles"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchJobsActivity"
            android:label="@string/title_activity_job"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeLocality"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name=".CandidateProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".JobDetailActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".MyAppliedJobs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReferFriends"
            android:screenOrientation="portrait" />
        <activity android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver android:name=".OtpScreen$IncomingSms">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

    </application>

</manifest>